<div class="card shadow-sm p-4 mb-4 register-form mx-auto" style="max-width: 500px;">
  <h2 class="fw-bold mb-4 text-center">
     <i class="bi bi-plus-square text-primary me-2"></i>
     Add Product Type 
</h2>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <!-- Product Type Name -->
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Product Type Name" formControlName="productTypeName">
      @if (dataForm.get('productTypeName')?.invalid && dataForm.get('productTypeName')?.touched) {
        <div class="text-danger small mt-1">
          Product type name is required
        </div>
      }
    </div>

    <!-- Submit Button -->
    <div class="d-grid mb-2">
      <button type="submit" class="btn btn-primary btn-lg">
        <i class="bi bi-check-lg me-1"></i> Save Product Type
      </button>
    </div>
  </form>

  <!-- Back Button -->
  <div class="d-grid">
    <button type="button" class="btn btn-outline-secondary" (click)="onBackClick()">
      <i class="bi bi-arrow-left me-1"></i> Back
    </button>
  </div>

  <!-- Message -->
  @if (message) {
    <p class="mt-3 text-center text-success fw-bold">{{ message }}</p>
  }
</div>
