<div class="user-management-container">

  <div class="header">
    <h5>Brand</h5>
  </div>

  @if (message) {
    <div class="alert text-center"
         [ngClass]="messageType === 'success' ? 'alert-success' : 'alert-danger'">
      {{ message }}
    </div>
  }

  @if (brandList.length > 0) {
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>SN</th>
          <th>Name</th>
          <th>Logo</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (brand of brandList; track brand.id; let i = $index) {
          <tr>
            <td data-label="SN">{{ i + 1 }}</td>

            @if (editingUserId !== brand.id) {
              <td data-label="Brand Name" class="fw-semibold">{{ brand.name }}</td>
              <td data-label="LogoUrl">{{ brand.logoUrl }}</td>
            }
            @else {
              <td data-label="Brand Name">
                <input [(ngModel)]="brand.name" class="form-control form-control-sm" />
              </td>
              <td data-label="LogoUrl">
                <input [(ngModel)]="brand.logoUrl" class="form-control form-control-sm" />
              </td>
            }

            <td data-label="Actions" class="text-center">
              @if (editingUserId !== brand.id) {
                <button class="btn btn-sm btn-outline-info me-2"
                        (click)="startEdit(brand.id)">
                  Edit
                </button>
              }
              @else {
                <button class="btn btn-sm btn-outline-success me-2"
                        (click)="saveEdit(brand)">
                  Save
                </button>
                <button class="btn btn-sm btn-outline-secondary me-2"
                        (click)="cancelEdit()">
                  Cancel
                </button>
              }

              <button class="btn btn-sm btn-outline-danger"
                      (click)="DeleteBrand(brand.id)">
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  @else {
    <div class="no-users">
      <h5>No Brand Found</h5>
      <p>Try adding some Brand first.</p>
    </div>
  }

</div>